#{extends 'main.html' /}
#{set title: 'About' /}
<h1>Find cool events, Learn MongoDB</h1>
<p>Hacker Meetups is built by <a href="http://10gen.com">10gen</a> as a sample application to help people get familiar with MongoDB. We also hope it'll help people find and spread the word about upcoming tech-events - from large conferences to small user group get-togethers.</p>
<p>This is the first of, what we hope, will be many such application. Our goal is to build engaging learning resources which are also useful and neat. You can read about our <a href="#">philosophy on sample apps</a> on our blog.</p>
<p>Hacker Meetups is written using <a href="http://www.playframework.org/">the Play framework</a> and, of course, <a href="http://mongodb.org">MongoDB</a>. The source code is <a href="#">available on GitHub</a>.</p>